.home_main{
    background-color: aliceblue;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home_container {
    width: 30%;
    height: 100px;
    display: flex;
    align-items: center;
    overflow: hidden; /* Cache le débordement */
    position: relative;
    text-align: center;
}

.scroll-wrapper {
    width: 100%;
    overflow: hidden;
}

.scroll-content {
    display: flex;
    align-items: center;
    animation: scroll infinite 10s linear;
    white-space: nowrap;
}

.scroll-content:hover {
    animation-play-state: paused; /* Pause au survol */
}

.ico_img {
    width: 20%;
    flex-shrink: 0;
}

.home_ico {
    font-size: 1.3rem;
    flex-shrink: 0;
    margin: 0 20px; /* Espacement entre les éléments */
}

/* Animation de défilement */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); /* Déplace de la moitié de la largeur totale */
    }
}

#home_text{
    font-style: oblique;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    flex-direction: column;

}

.logo_img{
    border-radius: 50%;
    width: 25%;
    height: 100%;
    border: 2px outset yellow;
    transition: all 0.5s ease-in-out;
}

.logo_img:hover{
    transform: scale(1.2);
    border: black;
}

.home_arrow{
    font-size: 2rem;
    font-weight: 500 bold;
}










@media (max-width:767px) {
.home_container{
    width: 60%;
    height: 130px;
}


.ico_img {
    width: 50%;
    flex-shrink: 0;
}

.home_ico {
    font-size: 2rem;
    flex-shrink: 0;
    margin: 0 20px; /* Espacement entre les éléments */
}

#home_text{
    width: 100%;
    height: auto;
}

.logo_img{
    width: 40%;
}
}



@media (min-width:767px) and  (max-width:1400px) {
.home_container{
    width: 60%;
    height: 130px;
}


.ico_img {
    width: 50%;
    flex-shrink: 0;
}

.home_ico {
    font-size: 2rem;
    flex-shrink: 0;
    margin: 0 20px; /* Espacement entre les éléments */
}

#home_text{
    width: 100%;
    height: auto;
    font-size: 2rem;
}

.logo_img{
    width: 25%;
}
}


@media (min-width:768px) and  (max-width:1400px) {
.home_container{
    width: 60%;
    height: 130px;
}


.ico_img {
    width: 50%;
    flex-shrink: 0;
}

.home_ico {
    font-size: 2rem;
    flex-shrink: 0;
    margin: 0 20px; /* Espacement entre les éléments */
}

#home_text{
    width: 100%;
    height: auto;
    font-size: 2rem;
}

.logo_img{
    width: 25%;
}

}




@media (min-width:820px) and  (max-width:1400px) {
 .home_container{
    width: 60%;
    height: 130px;
}


.ico_img {
    width: 50%;
    flex-shrink: 0;
}

.home_ico {
    font-size: 2rem;
    flex-shrink: 0;
    margin: 0 20px; /* Espacement entre les éléments */
}

#home_text{
    width: 100%;
    height: auto;
    font-size: 2rem;
}

.logo_img{
    width: 25%;
}

}


@media (min-width:1280px) and  (max-width:1500px) {
 .home_container{
    width: 60%;
    height: 200px;
    align-items: baseline;

}


.ico_img {
    width: 50%;
    flex-shrink: 0;
}

.home_ico {
    font-size: 2rem;
    flex-shrink: 0;
    margin: 0 20px; /* Espacement entre les éléments */
}

#home_text{
    width: 100%;
    height: auto;
    font-size: 2rem;
}

.logo_img{
    width: 15%;
}
}